<app-menu></app-menu>

<div class = 'contentBox'>
	<div class = "Box">
		<div>
			<h1><span id="barcode"> -------------</span>{{title}}</h1>
		</div>
		<div class="scrollbox">
			<p *ngIf = '!purchaserequestlineitem'>Loading...</p>
			<div *ngIf = 'purchaserequestlineitem'>
				<div class="form-group row">
					<label class='col-sm-2'>Product: </label>
					<select [(ngModel)]='purchaserequestlineitem.Product.Id' [compareWith]='compareFn' class="col-sm-6">
						<option *ngFor = 'let p of products' [ngValue]="p.Id" [selected]="p.Id">{{p.Name}}</option>
					</select>
				</div>
				<div class="form-group row">
					<label class='col-sm-2'>Quantity: </label>
					<input [(ngModel)]='purchaserequestlineitem.Quantity' name = 'Quantity' type="number" class="form-control col-sm-6" id="purchaserequestlineitemdescription" aria-describedby="purchaserequestlineitemquantityHelp" placeholder="Quantity">
				</div> 
			</div>
		</div>
		<div class='row'>
			<button (click)='change()' class='btn btn-primary'>Update</button>
		</div>
	</div>
</div>