<app-menu></app-menu>
<div class = "contentBox">
	<div class = "Box">
		<h1><span id="barcode"> -------------</span>{{title}}</h1>
		<div class="scrollbox">
			<h1 class="aboutNav">
				<ul>
					<li *ngFor='let abt of aboutMenu' title='{{abt.tooltip}}'><a routerLink='{{abt.href}}'>{{abt.display}}</a></li>
				</ul>
			</h1>
			<h1 class="text-center">The 'Elite Eight' Spring 2018 Java Boot Camp</h1>
			<table class="table table-lg">
				<tr>
					<td>
						<p>From day one our class set out to be different.  We were a group of eight from incredibly diverse backgrounds and life experiences whose aim was to stand out and make the most of our time during this intensive program.  We feel it's safe to say that we've done that, and raised the bar for boot camp participants that come after us.</p>
					</td>
					<td>
						<img height="400px" width="400px" src='../../../assets/about/day1.jpg'>
					</td>
				</tr>
				<tr>
					<td>
						<p>Most of us spent the first five weeks of camp like this... </p>
					</td>
					<td>
						<img height="400px" width="400px" src='../../../assets/about/memes.jpg'>
					</td>
				</tr>
				<tr>
					<td>
						<p>Though a few of us stood out early on as winners during our weekly study groups, where we held a weekly coding challange for the illustrious (and poorly made) 'Hack Champ' crown, and the highly sought after 'Scepter of Success.'</p>
					</td>
					<td>
						<img height="400px" width="400px" src="../../../assets/about/mattwins.jpg">
					</td>
				</tr>
				<tr>
					<td>
						<p>We went out as a group to relax and take some of the edge off of learning to code for eight to ten hours a day...</p>
					</td>
					<td>
						<img height="400px" width="400px" src='../../../assets/about/rustybucket.jpg'>
					</td>
				</tr>
				<tr>
					<td>
						<p>Several times.</p>
					</td>
					<td>
						<img height="400px" width="400px" src='../../../assets/about/foxandhound.jpg'>
					</td>
				</tr>
				<tr>
					<td>
						<p>All told, our group did well and exceeded expectations; not only in this course but as a team, and eventually as friends.  Our dedication to learning got us through the toughest aspects of object-oriented programming, while our teamwork and positive attitude has led to an ongoing commitment to continue meeting and working on projects together outside of our (soon to be) work lives, in order to help and motivate each other to continually grow as developers and people.  This is us near the end of our camp on May 4th, also known as Star Wars Day. (note the dedication and passion that Craig has in wearing a full Chewbacca onsie)</p>
					</td>
					<td>
						<img height="400px" width="400px" src='../../../assets/about/starwars.jpg'>
					</td>
				</tr>
		</table>
		<h3 class="anim text-center">Hire Us Please!!</h3>
		</div>
	</div>
</div>
