<app-menu></app-menu>
<div class = 'contentBox'>
	<div class = 'Box'>
		<div class = "lefthalf">
			<h1><span id="barcode"> ---------</span>{{title}}<span id="barcode"> ----</span></h1>
			<span class="addNew"><a routerLink='/user/create'><img id='createnew' width='30' height='30' src='assets/add-icon.png' title='Add New'>Add New</a></span>
		</div>
		<p *ngIf= '!users'>Loading...</p>
		<div class = 'scrollbox'>
		<table class = "table table-sm" *ngIf='users'>
			<thead>
				<tr>
					<th>User Name</th>
					<th>First Name</th> 
					<th>Last Name</th>
					<th>Details/Edit</th> 
				</tr>
			</thead>
			<tbody>
				<tr *ngFor = 'let u of users'>
					<td>{{u.UserName}}</td>
					<td>{{u.FirstName}}</td>
					<td>{{u.LastName}}</td>
					<td class = 'actions'>
						<a routerLink='/user/detail/{{u.Id}}'><img src = 'assets/details.png' title = 'Details'> </a>
						<a routerLink='/user/edit/{{u.Id}}'><img src='assets/pencil-icon.png' title='Edit'></a>
					</td>
				</tr>
			</tbody>
			</table>
		</div>
	</div>
</div>
