<app-menu></app-menu>
<div class = 'contentBox'>
	<div class = 'Box'>
		<div class = "lefthalf">
			<h1><span id="barcode"> -------------</span>{{title}}</h1>
		</div>
		<p *ngIf= '!products'>Loading...</p>
			<div class='scrollbox'>
			<table class = "table table-sm" *ngIf='products'>
				<tr>
					<th><a (click)="setSortBy('Name')" data-toggle="tooltip" title="Sort By Name">Name</a></th>
					<th><a (click)="setSortBy('VendorName')" data-toggle="tooltip" title="Sort By Vendor Name">Vendor</a></th>
					<th><a (click)="setSortBy('Price')" data-toggle="tooltip" title="Sort By Price">Price</a></th>
					<th>Details/Edit</th> 
				</tr>
				<tr *ngFor = 'let p of products | sort:sortBy'>
					<td>{{p.Name}}</td>
					<td>{{p.Vendor.Name}}</td>
					<td>${{p.Price}}</td>
					<td class = 'actions'>
						<a routerLink='/product/detail/{{p.Id}}' class="btn btn-primary"><img src = 'assets/details.png' title = 'Details'> </a> 
						<a routerLink='/product/edit/{{p.Id}}' class="btn btn-primary"><img src='assets/pencil-icon.png' title='Edit'></a>
					</td>
				</tr>
			</table>
			</div>
			<span class="addNew"><a routerLink='/product/create' class="btn btn-success"><img id='createnew' src='assets/add-icon.png' title='Add New'>Add New</a></span>
		</div>
	</div>
