<app-menu></app-menu>

<div class = "contentBox">
	<div class = "Box">
		<h1><span id="barcode"> ---------</span>{{title}}<span id="barcode"> ----</span></h1>
		<div class='scrollbox'>
		<p>Welcome, <!--{{user.FirstName}}-->! <br>
		This Purchase Request System is designed to help you easily get the things you need in order to do your job well.  Navigate to the Request tab to order supplies and necessities, or navigate to the other tabs to create, edit, remove, and view a User, Vendor, Product, or Purchase Request.</p>
		<p>For more information on the team that created this project, and the technology used in its development, please navigate to the About page.</p>
		<p>Thank you for using the Purchase Request System,  have a well-stocked and productive day! <br>
		-The IT Team</p>
		</div>
	</div>
</div>
