<app-menu></app-menu>
<div class = 'contentBox'>
	<div class = 'Box'>
		<div class = 'lefthalf'>
			<h1><span id="barcode"> -------------</span>{{title}}</h1>
		</div>
		<div class='scrollbox'>
			<p *ngIf='!user'>Loading...</p>
			<table class="table table-sm" *ngIf='user'>
				<tr>
				  <th>Id:</th><td class="col-sm-1">{{user.Id}}</td>
				</tr>
				<tr>
				  <th>User Name:</th><td>{{ user.UserName }}</td>
				</tr>
				<tr>
				  <th>Password:</th><td>{{ user.Password }}</td>
				</tr>
				<tr>
				  <th>FirstName:</th><td>{{ user.FirstName }}</td>
				</tr>
				<tr>
				  <th>Last Name:</th><td>{{ user.LastName }}</td>
				</tr>
				<tr>
				  <th>Phone:</th><td>{{ user.PhoneNumber }}</td>
				</tr>
				<tr>
				  <th>Email:</th><td>{{ user.Email }}</td>
				</tr>
				<tr>
				  <th>Admin:</th><td>{{ user.Admin? "Yes" : "No" }}</td>
				</tr>
				<tr>
				  <th>Reviewer:</th><td>{{ user.Reviewer? "Yes" : "No" }}</td>
				</tr>
			</table>
		</div>
		<div *ngIf='user' class="row">
			  <a  routerLink='/user/edit/{{user.Id}}' class='btn btn-primary' title='Edit'>Edit</a>
			  <button (click)="remove()" class='btn btn-danger' title='Delete'>Remove</button>
		</div>
	</div>
</div>

