<app-menu></app-menu>

<div class = 'contentBox'>
	<div class = "Box">
			<div>
				<h1><span id="barcode"> ---------</span>{{title}}<span id="barcode"> ----</span></h1>
			</div>
			<p *ngIf = '!product'>Loading...</p>
			<div *ngIf = 'product'></div>
			<div class="form-group row">
				<label>Name: </label>
				<input [(ngModel)]='product.Name' name = 'Name' type="text" class="form-control col-sm-6" id="productname" aria-describedby="productnameHelp" placeholder="Name">
			</div>
			<div class="form-group row">
				<label>Vendor: </label>
				<select [(ngModel)]='product.Vendor.Id' [compareWith]='compareFn'>
					<option *ngFor = 'let v of vendors' [ngValue]="v.Id" [selected]="v.Id">{{v.Name}}</option>
				</select>
			</div>
			<div class="form-group row">
				<label>Part Number: </label>
				<input [(ngModel)]='product.PartNumber' name = 'PartNumber' type="text" class="form-control col-sm-6" id="productpartnumber" aria-describedby="productpartnumberHelp" placeholder="Part Number">
			</div>
			<div class="form-group row">
				<label>Price: </label>
				<input [(ngModel)]='product.Price'  name = 'Price' type="number" class="form-control col-sm-6" id="productprice" aria-describedby="productpriceHelp" placeholder="Price">
			</div>
			<div class="form-group row">
				<label>Unit: </label>
				<input [(ngModel)]='product.Unit' name = 'Unit' type="text" class="form-control col-sm-6" id="productunit" aria-describedby="productunitHelp" placeholder="Unit">
			</div>
			<div class="form-group row">
				<label>Photo Path: </label>
				<input [(ngModel)]='product.PhotoPath' name = 'PhotPath' type="text" class="form-control col-sm-6" id="productphotopath" aria-describedby="productphotopathHelp" placeholder="Photo URL">
			</div>
			
			<div class='form-group'>
				<button (click)='change()' class='btn btn-primary'>Update</button>
			</div>
		</div>
	</div>