header{
	position: absolute;
	width: 100%;
}

h1{
	font-family: 'Raleway', serif;
	color: aliceblue;
	font-size: 16px;
	background-image: none;
	background-color: #172c4a;
	position: relative;
	padding-left: 5%;
	box-shadow: 2px 2px 3px #282938;
}

#barcode{
	font-family: 'Libre Barcode 39 Extended', serif;
}

.userTag{
	font-size: 1vw;
	float: right;
	position: relative;
	right: 30%;
}

.logOut{
	font-size: 1vw;
	float: right;
	position: relative;
	padding: 0px;
	margin: 0px;
	right: 0%;
}

nav{
/*	background-image: linear-gradient(#282938, #606173, #282938);*/
	background-color: #44A34A;
	box-shadow: 2px 2px 3px;
}

li{
	display: inline-block;
	padding-left: 5%;
}

a{
	font-family: 'Raleway', serif;
	font-size: 2.5vw;
	color: aliceblue;

}

a:hover{
	text-shadow: 0 0 3px aliceblue;
	position: relative;
	top: 2px;
}

footer{
	position: absolute;
	width: 100%;
	bottom: 0%;
}