.scrollbox{
	height: 45%;
}

.prlist{
	height: 12.5%;
	overflow-y: hidden;
}

.moneyText{
	font-family: 'Roboto Mono', serif;
}

h3{
	color: #172c4a;
	position: relative;
	padding-bottom: 1%;
	padding-left: 1%;
	width: 70%;
	border-radius: 10px;
	font-size: 36px;
	font-family: 'Cormorant Garamond', serif;
	margin-left: 10%;
}

th, td{
	font-size: 1vw;
}

.lineitem{
	position: absolute;
}

.addLineRow{
	display: inline;
}

.addNew{
	float: right;
	position: relative;
	right: 20%;
	margin-top: 0.5%;
	margin-bottom: 0.5%;
}