header{
	position: absolute;
	width: 100%;
}

#headfoot{
	font-family: 'Raleway', serif;
	color: aliceblue;
	font-size: 16px;
	background-image: none;
	background-color: #282938;
	position: relative;
	padding-left: 5%;
	box-shadow: 2px 2px 3px #282938;
}

#barcode{
	font-family: 'Libre Barcode 39 Extended', serif;
}

.loginText{
	color: aliceblue;
	font-size: 6vw;
}

.scrollbox{
	background-color: #172c4a;
}

.component-content{
	background-image: url('https://images.pexels.com/photos/159627/pencils-clips-colour-pencils-foam-rubber-159627.jpeg?auto=compress&cs=tinysrgb&h=350');
	background-size: cover;
	width: 100%;
	position: relative;
	
	animation-name: loginAnim;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}

td{
	font-size: 3vh;
}

footer{
	position: absolute;
	width: 100%;
	bottom: 0%;
}

@keyframes loginAnim{
	0%{right: 120%}
	100%{right: 0%};
}