<header>
	<h1 id="headfoot">
	<span id="barcode"> ----(PRS)-----</span>Purchase Request System
	<span id="barcode"> ----(PRS)-----</span>
	</h1>
</header>

<div class="contentBox">
	<div class="Box">
		<div>
			<h1><span id="barcode"> -------------</span>{{title}}</h1>
		</div>
		<div class="scrollbox">
			<div class='component-content'>
			  <form class='text-center'>
				<table *ngIf='user' class='table-sm' style='margin:50px auto;padding: 5px 20px;border:1px solid aliceblue;width:400px;'>
				 <tr class='text-center'>
					<td class="loginText" colspan="2">Login</td>
				 </tr>
				 <tr>
					<td>Username:</td>
					<td><input [(ngModel)]='user.UserName' name='UserName' type='text' placeholder="User Name" required autofocus></td>
				 </tr>
				 <tr>
					<td>Password:</td>
					<td><input [(ngModel)]='user.Password' name='Password' type='password' required placeholder="Password"></td>
				 </tr>
				 <tr>
					<td class='text-center' colspan="2"><button type='submit' (click)="login()" class='btn btn-primary'>Login</button></td>
				 </tr>
				 <tr>
					<td colspan="2"><label class='text-sm-left'>{{message}}</label></td>
				 </tr>
				</table>
			  </form>
			</div>
		</div>
	</div>
</div>

<footer>
	<h1 id="headfoot">Purchase Request System</h1>
</footer>