<app-menu></app-menu>
<div class = "contentBox">
	<div class = "Box">
		<h1><span id="barcode"> -------------</span>{{title}}</h1>
		<div class="scrollbox">
			<h1 class="aboutNav">
				<ul>
					<li *ngFor='let abt of aboutMenu' title='{{abt.tooltip}}'><a routerLink='{{abt.href}}'>{{abt.display}}</a></li>
				</ul>
			</h1>
			<img src="../../../assets/about/day1.jpg" height="300px" width="300px">
			<p>This Purchase Request Sytem is the capstone project for the Spring of 2018 Java Bootcamp at Max Tech Train for the Cincy CodeIT program, and it represents the culmination of everything that we have learned in this short, but extremely productive (and often stressful) time.  Over the past eleven weeks, the eight of us in this intensive, near four hundred hour course have been prepared for exciting careers in the tech field as full stack developers specializing in the Java coding language.  We are excited and honored to present to you the fruits of our labors, this enterprise-level, single-page application.</p>
		</div>
	</div>
</div>
