.contentBox{
	background-image: linear-gradient(to top right,rgb(70,127,82, 0.5),rgb(87,71,134, 0.5));
	border-radius: 20px;
	position: absolute;
	height: 75%;
	width: 95%;
	left: 50%;
	top: 20%;
	transform: translateY(-50%);
	transform: translateX(-50%);
}