*{
	padding: 0px;
	margin: 0px;
}

html{
/*	background-image: url('https://images.pexels.com/photos/159627/pencils-clips-colour-pencils-foam-rubber-159627.jpeg?auto=compress&cs=tinysrgb&h=350');*/
	background-color: #cec9d5;
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	height: 100%;
	width: 100%;
	
}

#headfoot{
	border-radius: 0px;
	font-family: 'Raleway', serif;
	position: relative;
	text-align: left;
}

#barcode{
	font-family: 'Libre Barcode 39 Extended', serif;
	color: #282938;
}


.contentBox{
/*	background-image: linear-gradient(to top,rgb(70,127,82, 0.5),rgb(87,71,134, 0.5));*/
	background-color: rgb(23,44,74, 0.4);
	border-radius: 3px;
	position: absolute;
	height: 84%;
	width: 98%;
	left: 50%;
	top: 12%;
	transform: translateY(-50%);
	transform: translateX(-50%);
}

.Box{
	background-image: radial-gradient(#282938 90%, #46475A);
	border-radius: 3px;
	box-shadow: 2px 2px 2px #282938;
	position: relative;
	width: 98%;
	height: 98%;
	margin: auto;
	top: 50%;
	transform: translateY(-50%);
}

.addNew a{
	color: aliceblue;
	font-size: 3vh;
	box-shadow: 2px 2px 2px black;
	border-radius: 15px;
	position: relative;
	float: right;
	right: 5%;
}

.addNew a:hover{
	top:2px;
	box-shadow: 3px 3px 3px black;
	text-shadow: 0 0 3px aliceblue;
}

.actions a{
	font-size: 3vh;
	border-radius: 3px;
	box-shadow: 2px 2px 2px black;
	margin-left: 10%;
	padding: 3px;
	position: relative;
}

.actions a:hover{
	text-decoration: none;
	box-shadow: 3px 3px 3px black;
	top: 2px;
}

.scrollbox{
	background-color: #405573;
	height: 78%;
	width: 95%;
	margin: auto;
	position: relative;
	overflow-y: auto;
	overflow-x: hidden;
	border: 1px solid aliceblue;
	border-radius: 5px;
}

.form-group{
	position: relative;
	margin-top: 5%;
	margin-left: 10%;
}

.btn{
	color: aliceblue;
	font-family: 'Roboto Mono', monospace;
	font-size: 3vh;
	position: relative;
	margin-left: 10%;
}

.btn:hover{
	position: relative;
	top: 2px;
}

::-webkit-scrollbar {
    width: 20px;
	background-color: #282938;
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
	background: #888; 
    border-radius: 3px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

h1{
	font-family: 'Raleway', serif;
	font-size: 3.5vw;
	color: aliceblue;
	text-shadow: 0px 0px 1px;
	background-color: #606173;
	box-shadow: 2px 2px 2px  #282938;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

table{
	border: 1px solid aliceblue;
	border-radius: 15px;
}

td, th{
	font-size: 1.5vw;
	color: aliceblue;
	position: relative;
	padding: 20px;
	color: aliceblue;
}

th{
	font-family: 'Raleway', monospace;
	background-color: #172c4a;
}

th a:hover{
	text-shadow: 0px 0px 3px aliceblue;
	cursor: pointer;
}

td{
	font-family: 'Roboto Mono', serif;
	background-color: #405573;
	padding: 100px;
}

label{
	font-family: 'Roboto Mono', monospace;
	color: aliceblue;
}

